// Stripping Styles 

html {
    font-size: 62.5%;
}

body,
h1,
h2,
h3,
p, 
ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-bottom: 50px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    border: none;
    cursor: pointer;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

input {
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: $tertiaryColor;
}

// General Styles

h1 {
    font-family: $primaryFont;
    font-size: 8rem;
    color: $primaryFontColor;
    line-height: 1.2;
    text-transform: capitalize;
}

h2 {
    font-family: $primaryFont;
    color: $primaryFontColor;
    font-size: 5rem;
    text-transform: capitalize;
}

h3 {
    font-family: $primaryFont;
    color: $secondaryColor;
    font-size: 4rem;
}

p {
    font-family: $secondaryFont;
    font-size: 3rem;
    color: $primaryFontColor;
}

button {
    font-family: $primaryFont;
    font-size: 2.4rem;
    background-color: $buttonRankColor;
    color: $tertiaryColor;
    padding: 10px 20px;
    border-radius: 5px;

    &:hover{
        color: $primaryFontColor;
        transition-delay: .25s;
    }

    &:focus{
        border: solid 2px $borderColor;
        background-color: lighten($buttonRankColor, 10);
    }
}