/* Portrait tablet and small desktops */

@media (max-width: 940px) {

    .ranking {
        font-size: 5rem;
    }

}

/* Landscape phone to portrait tablet */

@media (max-width: 768px) {

    .headerContainer {
        padding: 75px 0;
    }

    h1 {
        font-size: 6rem;
    }

    .headerTitle p {
        font-size: 2.5rem;
    }

    .bookCategoryButton {
        font-size: 3rem;
        padding: 10px 20px;
    }

    ul{
        flex-wrap: wrap;
    }

    .bookContainer {
        flex-wrap: wrap;
    }

    .rankContainer {
        width:100%;
        margin: 0 0 20px 0;

        img {
            width: 100%;
        }
    }

    .infoContainer {
        width: 100%;
    }
}


@media (max-width: 600px) {

    .headerContainer {
        flex-direction: column-reverse;

        .headerTitle {
            width: 100%;
        }
        
        .headerImage {
            width: 60%;
        }
    }
}

/* Landscape phones and down */

@media (max-width: 480px) {

    .bookCategoryButton {
        font-size: 2rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3,
    .headerTitle p,
    p.bookDescription {
        font-size: 2rem;
    }

    footer p,
    a.creditLink {
        font-size: 1.6rem;
    }
}

@media (max-width: 320px) {

    .headerContainer {
        .headerTitle p {
            padding-bottom: 20px;
        }
    }

    h1 {
        padding-bottom: 10px;
    }

}