// General Colors
$primaryColor: #DDF3F5;
$secondaryColor: #A6DCEF;
$tertiaryColor: white;

// Element Specific Colors
$linkColor: #F2AAAA;
$buttonColor: #E36387;
$borderColor: #B7B7B7;
$primaryFontColor: #383838;

// Font Styles
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Cormorant Garamond', serif;