html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-bottom: 50px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  cursor: pointer;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 8rem;
  color: #383838;
  line-height: 1.2;
  text-transform: capitalize;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: #383838;
  font-size: 5rem;
}

h3 {
  font-family: "Roboto", sans-serif;
  color: #A6DCEF;
  font-size: 4rem;
}

p {
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
  color: #383838;
}

header {
  background-color: #DDF3F5;
  height: 100vh;
  background-size: cover;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 150px;
}

.headerContainer .headerTitle {
  width: 60%;
}

.headerContainer .headerTitle h1,
.headerContainer .headerTitle p {
  padding-bottom: 30px;
}

.headerContainer .headerImage {
  width: 40%;
}

main {
  background-color: #DDF3F5;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bookCategory {
  padding-top: 100px;
}

section:last-child {
  padding-bottom: 100px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 250px;
          flex: 1 0 250px;
}

.bookCategoryButton {
  display: inline-block;
  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
  background-color: #A6DCEF;
  color: #383838;
  padding: 10px 40px;
  margin: 0 20px 20px 0;
  border: 4px solid #B7B7B7;
  border-radius: 5px;
  cursor: pointer;
}

.bookCategoryButton:hover,
.bookCategoryButton:focus,
.bookCategoryButton:active {
  background-color: #50badf;
}

.bookContainer {
  background-color: #FFFFFF;
  height: 100%;
  padding: 30px 30px;
  margin-bottom: 50px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.imageContainer {
  width: calc(30% - 30px);
  margin: 0 30px 20px 0;
}

.imageContainer img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

h2,
h3 {
  padding-bottom: 10px;
}

.bookDescription {
  font-size: 2.5rem;
  line-height: 1.2;
}

.bookDetails {
  padding-bottom: 20px;
}

.contentContainer {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.startButton,
.productUrl {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  background-color: #E36387;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
}

.startButton:hover,
.productUrl:hover {
  color: #383838;
}

.startButton:focus,
.productUrl:focus {
  border: solid 2px #B7B7B7;
  background-color: #eb8ea8;
}

.addBook {
  background-color: inherit;
  color: #E36387;
  font-size: 4rem;
}

.addBookhover, .addBookfocus {
  color: #383838;
  border: none;
}

.ranking {
  font-family: inherit;
  font-size: 8rem;
  color: #F2AAAA;
}

.bookContainer:last-child {
  margin-bottom: 0;
}

footer {
  background-color: #DDF3F5;
  text-align: center;
}

footer p {
  font-size: 2rem;
  padding: 20px 0;
}

footer a.creditLink {
  font-family: "Cormorant Garamond", serif;
  color: #E36387;
  background-color: inherit;
  padding: 0;
  border-radius: inherit;
}

footer a.creditLink:hover {
  padding-bottom: 3px;
  border-bottom: 2px solid #E36387;
}

footer a.creditLink:focus {
  color: #F2AAAA;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .ranking {
    font-size: 5rem;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .headerContainer {
    padding: 75px 0;
  }
  h1 {
    font-size: 6rem;
  }
  .headerTitle p {
    font-size: 2.5rem;
  }
  .radioButton {
    font-size: 3rem;
    padding: 10px 20px;
  }
  ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bookContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .imageContainer {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .imageContainer img {
    width: 100%;
  }
  .contentContainer {
    width: 100%;
  }
  .contentContainer .infoContainer {
    width: 90%;
  }
  .contentContainer .buttonContainer {
    width: 10%;
  }
}

@media (max-width: 600px) {
  .headerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .headerContainer .headerTitle {
    width: 100%;
  }
  .headerContainer .headerImage {
    width: 60%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .bookCategoryButton {
    font-size: 2rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3,
  .headerTitle p,
  p.bookDescription {
    font-size: 2rem;
  }
  .addBook {
    font-size: 2.5rem;
  }
  footer p,
  a.creditLink {
    font-size: 1.6rem;
  }
}

@media (max-width: 320px) {
  .headerContainer .headerTitle p {
    padding-bottom: 20px;
  }
  h1 {
    padding-bottom: 10px;
  }
}
